body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    max-width: 100%;
    /* margin: 50px auto; */
}

.sidebar {
    width: 200px;
    height: 100vh;
    float:left;
    background-color: #9AD0C2;
}



.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    margin:10px;
    font-size: 20px;
}

.content {
    flex: 1;
    padding: 200px;
    background-color:#F1FADA;
}



#flashcards {
    margin-bottom: 20px;
}

/* .flashcard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.flashcard button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.flashcard button:hover {
    background-color: #c82333;
} */

h2 {
    margin-top: 0;
}
/* <!--search tutor content--!> */
.tab-content {
    display: none;
}

.content {
    display: block;
}

.content h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="date"],form input[type="file"],button{
    width: 397px ;
    font-size: larger;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"],
form input[type="number"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form select {
    width:100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.lauda{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}
