body {
    font-family: Arial, sans-serif;
    background-color: #9AD0C2;
    margin: 0;
    padding: 0;
}

.container {

    max-width: 400px;
    margin: 50px auto;
    background-color: #F1FADA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-login p {
    margin-bottom: 10px;
}

.social-login a {
    display: inline-block;
    margin: 0 5px;
}

.social-login img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    transition: transform 0.3s;
}

.social-login img:hover {
    transform: scale(1.1);
}

p {
    margin-top: 15px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
